  <head>
    <meta charset="utf-8">
    <title>StoryQuest Haven</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- we need implement history back functionality for iOS first -->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- build:css(.) css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="bower_components/spectrum/spectrum.css" />
    <link rel="stylesheet" href="bower_components/treema/treema.css" />
    <link rel="stylesheet" href="bower_components/joint/dist/joint.css" />
    <link rel="stylesheet" href="bower_components/tourist/tourist.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/joint/dist/joint.min.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) css/main.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/AdminLTE.css" />
    <!-- endbuild -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= basePath %>images/favicon.ico"/>
    <link rel="apple-touch-icon" href="<%= basePath %>images/dp_app-icon_57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= basePath %>images/dp_app-icon_72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= basePath %>images/dp_app-icon_114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= basePath %>images/dp_app-icon_144.png">
  </head>


